*{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
margin: 0px;
padding: 0;
}
/* global rules */
body{
font-family: 'Montserrat', sans-serif;
background-color: #fca73e;
}
.header{
background-color: #9c255d;
width: 100%;
height: 2.37cm;
}
.header .logo{
width: 4.12cm;
height: 2.12cm;
}
.container{
display: flex;
justify-content: space-between;
width: 100%;
}
.header .container .links .jj {
color: #ecdee3;
text-decoration: none;
list-style: none;
display: flex;
}
.header .container .links .jj li{
padding: 15px;
display: flex;
justify-content: space-between;
position: relative;
color: #ecdee3;
}
.header .container .links .jj li a{
color: #ecdee3;
text-decoration: none;
transition: .3s;
position: relative;
top: 18px;
font-size: 12pt;
}
.header .container .links .jj li a:hover{
color:#fca73e;
}
/* styling search bar */
.search input[type=text] {
width:6.5cm;
height: .85cm;
border: none;
position: relative;
right: -132px;
top: 20px;
background-color: #9c255d;
border: 3.2px solid #ecdee3;
border-radius: 15px;
color: #ecdee3;
text-align: right;
margin:7px;
}
::placeholder {
color: #ecdee3;
opacity: 1;
} 
:focus{
outline: none;
}
.social{
position: relative;
font-size: 25px;
color:#ecdee3;
flex: auto;
justify-content: space-between;
display: flex;
position: relative;
right: -60px;
}
.social{
font-size: 30px;
margin: auto;
right: 50px;
}
.social a{
color: #ecdee3;
padding: 3px;
position: relative;
right: -405px;
}

/* end header  */
.content .animation .anmi{
width: 62em;
height: auto;
position: absolute;
right: 150px;
}
.pic {
width: 50em;
height: auto;
position: absolute;
right: 99px;
top: 97px;
}
.hint{
width: 50em;
height: auto;
position: absolute;
right: 99px;
top: 97px;
}
.hinb{
width: 62em;
height: auto;
position: relative;
right: 372px;
top: -39px;
}
.hint-1{
position: absolute;
font-size: 33px;
bottom: 13.8em;
right: 30.7em;
color: #fff;
display: flex;
flex-direction: column;
font-family: 'Montserrat';
}
.hint-2{
position: absolute;
font-size: 33px;
bottom: 12.2em;
right: 31.7em;
color: #fff;
display: flex;
flex-direction: column;
}
.theme {
    width: 67em;
    height: auto;
    position: absolute;
    top: 6em;
}
.hintb {
position: absolute;
top: 20em;
left: 65em;
color: #fff;
font-weight: 600;
word-break: break-all;
}
.hintp span{
position: absolute;
top: 19.9em;
left: 1.3em;
color: #fff;
font-weight: 500;
word-break: break-all;
}
.mhmud{
color: #5e1539;
position: absolute;
top: 15em;
left: 4em;
font-size: x-large;
}
.texto {
position: absolute;
top: 26em;
left: 5.8em;
font-size: medium;
}
#class {
padding: 10px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
top: -3.5em;
left: 9.6em;
font-size: 20px;
border-radius: 25px;
background-color: #5e1539;
position: relative;
color: #fff;
text-align: center;
}